:root {
  --color-background: #e9f1f7;
  --color-primary: #073b4c;
  --color-fonts: #14213d;
  --color-top: #06d6a0;
  --color-white: #fff;
  --color-secondary: #ffffd9;
  --light-grey: #b9b9c4;
  --button-warning: #fcf7de;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, var(--color-background), var(--color-top));
  text-align: center;
  color: var(--color-fonts);
  padding: 10em;
}

h1 {
  font-weight: 700;
  color: var(--color-primary);
}

li {
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-top);
  width: 100%;
  min-height: 2em;
}

input {
  display: block;
  max-width: 800px;
}

fieldset {
  display: block;
  margin-left: 20%;
}

.navbar navbar-custom{
  position: fixed;
  background-color: var(--color-grey);
  margin-top: 0;
  left: 0;
  top: 0;
  height: 100px;
}

.list-group {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px 10px;
}

.group-list-item {
  padding: 10px;
}

.btn {
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  min-width: 150px;
}

.btn:hover {
  font-size: inherit;
  background-color: var(--color-secondary);
}

.btn-warning {
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  border-radius: 5px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
  animation-name: modalopen;
  animation-duration: 1.9s;
}

.modal-dialog {
  margin-top: 10%;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  border-radius: 5px;
}

.modal img {
  width: auto;
  max-height: 25%;
  cursor: grab;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

#modal-container.is-visible {
  display: block;
}

@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
