:root {
  --color-background: #e9f1f7;
  --color-primary: #073b4c;
  --color-fonts: #14213d;
  --color-top: #06d6a0;
  --color-white: #fff;
  --color-secondary: #ffffd9;
  --light-grey: #b9b9c4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--color-fonts);
  padding: 10em;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  line-height: 5px;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-top);
  width: 100%;
  min-height: 2em;
}

.pokemon-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px 10px;
  padding: 10px;


}

.button-class {
  background-color: var(--color-white);
  color: inherit;
  border: 2px solid var(--color-top);
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
}

.button-class:hover {
  font-size: 24px;
  box-shadow: 10px 2px 2px 2px var(--light-grey);
  border-color: var(--color-primary);
  background-color: var(--color-secondary);
  opacity: 0.95;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-top);
  width: 100%;
  min-height: 2em;
}

.img-class {
  position: static;
  min-width: 50px;
  min-height: auto;
  margin: 5px 5px;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff000;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  border-radius: 5px;
}

.modal img {
  width: auto;
  max-height: 50%;
  cursor: grab;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container.is-visible {
  display: block;
}

#modal-container {
  display: none;
}
