:root {
  --color-background: #e9f1f7;
  --color-primary: #073b4c;
  --color-fonts: #14213d;
  --color-top: #06d6a0;
  --color-white: #fff;
  --color-secondary: #ffffd9;
  --light-grey: #b9b9c4;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--color-fonts);
  padding: 10em;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  line-height: 5px;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.button-class {
  background-color: var(--color-white);
  color: inherit;
  border: 2px solid var(--color-top);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.button-class:hover {
  font-size: 24px;
  box-shadow: 10px 2px 2px 2px var(--light-grey);
  border-color: var(--color-primary);
  background-color: var(--color-secondary);
  opacity: 0.95;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-top);
  width: 100%;
  min-height: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-top);
  width: 100%;
  min-height: 2em;
}

.img-class {
  position: static;
  min-width: 50px;
  min-height: auto;
  margin: 5px 5px;
}
