:root {
  --color-background: #e9f1f7;
  --color-primary: #073b4c;
  --color-fonts: #14213d;
  --color-top: #06d6a0;
  --color-secondary: #ffffd9;
  --button-warning: #fcf7de;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, var(--color-background), var(--color-top));
  text-align: center;
  color: var(--color-fonts);
}

h1 {
  font-weight: 700;
  margin: 50px;
  color: var(--color-primary);
  text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

li {
  list-style-type: none;
}

input {
  display: block;
  max-width: 800px;
}

.logo {
  margin: 25px 0;
}

.list-group {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  align-content: center;
  gap: 10px 10px;
}

.group-list-item {
  padding: 15px;
}

.btn {
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  min-width: 50px;
}

.btn:hover {
  font-size: inherit;
  background-color: var(--color-secondary);
}

.btn-warning {
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  border-radius: 5px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

.image-banner {
  margin: 50px;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
  animation-name: modalopen;
  animation-duration: 1.9s;
}

.modal-dialog {
  margin-top: 5%;
  display: block;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.modal img {
  width: auto;
  max-height: 25%;
  cursor: grab;
}

#modal-container.is-visible {
  display: block;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .list-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
